/local.properties
/build
/captures
/buildSrc/build
/app/build
/core/build
/core/data/build
/core/data/build/generated
/core/domain/build
/core/ui/build
/features/home/build
/features/stocks/build
/features/about/build
/features/cryptos/build
*.iml
.gradle
.idea
.DS_Store
.externalNativeBuild
.cxx